@page "/register"

<style>

</style>

<h3>Register</h3>
@if (!string.IsNullOrWhiteSpace(StatusMessage))
{
    <div class="alert alert-@Status">
        <i class="fa fa-info-circle"></i>&nbsp;
        @StatusMessage
    </div>
}
<form class="container mt-4">
    <div class="mb-3">
        <label class="form-label">Username:</label>
        <input type="text" class="form-control" @bind="Model.Username">
    </div>
    <div class="mb-3">
        <label class="form-label">Password:</label>
        <input type="password" class="form-control" @bind="Model.Password">
    </div>
    <div class="mb-3">
        <label class="form-label">First Name:</label>
        <input type="text" class="form-control" @bind="Model.FirstName">
    </div>
    <div class="mb-3">
        <label class="form-label">Last Name:</label>
        <input type="text" class="form-control" @bind="Model.LastName">
    </div>
    <div class="mb-3">
        <label class="form-label">Mobile:</label>
        <input type="text" class="form-control" @bind="Model.MobileNumber">
    </div>
    <div class="mb-3">
        <label class="form-label">Address:</label>
        <textarea class="form-control" @bind="Model.Address"></textarea>
    </div>
    <button type="button" class="btn btn-primary" @onclick="RegisterUser">
        Save
    </button>
</form>
