@page "/register"

<head>
    <link rel="stylesheet" href="MyRegisterStyles.css">
</head>

<div class="card enhanced">
    <h3>Register</h3>

    @if (!string.IsNullOrWhiteSpace(StatusMessage))
    {
        <div class="alert alert-@Status">
            <i class="fa fa-info-circle"></i>&nbsp;
            @StatusMessage
        </div>
    }

    <div class="form-group">
        <label>Username:</label>
        <input type="text" @bind="Model.Username" class="form-control" />
    </div>

    <div class="form-group">
        <label>Password:</label>
        <input type="password" @bind="Model.Password" class="form-control" />
    </div>

    <div class="form-group">
        <label>First Name:</label>
        <input type="text" @bind="Model.FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Last Name:</label>
        <input type="text" @bind="Model.LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Mobile:</label>
        <input type="text" @bind="Model.MobileNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label>Address:</label>
        <textarea @bind="Model.Address" class="form-control"></textarea>
    </div>

    <button @onclick="RegisterUser" class="btn btn-primary">
        <i class="fas fa-user-plus"></i>&nbsp; Save
    </button>
</div>