@page "/register"

<h3>Register</h3>

<form @onsubmit="RegisterUser">
    <div class="card enhanced p-4">
        @if (!string.IsNullOrWhiteSpace(StatusMessage))
        {
            <div class="alert alert-@Status">
                <i class="fa fa-info-circle"></i>&nbsp;
                @StatusMessage
            </div>
        }

        <fieldset class="mb-3">
            <legend>Username:</legend>
            <input class="form-control" type="text" @bind="Model.Username" placeholder="Username" title="Username" />
        </fieldset>

        <fieldset class="mb-3">
            <legend>Password:</legend>
            <input type="password" class="form-control" @bind="Model.Password" placeholder="Password" title="Password" />
        </fieldset>

        <fieldset class="mb-3">
            <legend>First Name:</legend>
            <input type="text" class="form-control" @bind="Model.FirstName" placeholder="First Name" title="First Name" />
        </fieldset>

        <fieldset class="mb-3">
            <legend>Last Name:</legend>
            <input type="text" class="form-control" @bind="Model.LastName" placeholder="Last Name" title="Last Name" />
        </fieldset>

        <fieldset class="mb-3">
            <legend>Mobile:</legend>
            <input type="text" class="form-control" @bind="Model.MobileNumber" placeholder="Mobile Number" title="Mobile Number" />
        </fieldset>

        <fieldset class="mb-3">
            <legend>Address:</legend>
            <textarea class="form-control" @bind="Model.Address" placeholder="Address" title="Address"></textarea>
        </fieldset>

        <button type="submit" class="btn btn-warning scaledbutton">
            <i class="fas fa-save"></i>&nbsp;Save
        </button>
    </div>
</form>